.felso{
    text-align: center;
}
.felso ul{
    list-style-type: none;
}
.felso a {
    font-size: 27px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 white;
    color: saddlebrown;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.felso a:hover {
    color: black;
    box-shadow: inset 400px 0 0 0 white;
}